.covid-title {
  text-align: center;
}

.covid {
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;

  .space {
    margin-top: 20px;
  }

  .card-title {
    margin-bottom: 14px;
    font-weight: 600;
  }

  p {
    font-size: 1.2em;
    margin-bottom: 14px;
  }

  ul {
    padding-left: 20px;
  }

  .source {
    align-self: flex-end;
    padding-right: 20px;
    font-style: italic;

    a {
      text-decoration: none;
    }
  }
}