footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 5%;
  background-color: $black;
  color: $white;
  position: relative;
  bottom: 0;
  font-size: .7em;
}
