.global-total-case,
.global-total-recovered,
.global-total-death,
.indonesia-case {
  transition: .3s;
  display: inline-block;
  width: 22%;
  height: 100px;
  box-shadow: 0 8px 2px -4px $shadow;
  color: $white;
  font-size: 18px;
  font-weight: 700;
  text-shadow: 0 1px 2px $black;
  text-align: center;

  .card-title {
    margin-bottom: 4px;
    text-transform: uppercase;

    p, h3 {
      display: inline-block;
      font-size: 24px;
    }

    img {
      height: 20px;
    }
  }

  &:hover {
    transition: .3s;
    transform: scale(1.1);
    box-shadow: none;
    cursor: pointer;
  }
}

.global-total-case {
  background-color: $blue;

  &:hover {
    background-color: #00f;
  }
}

.global-total-recovered {
  background-color: $green;

  &:hover {
    background-color: #0f0;
  }
}

.global-total-death {
  background-color: $red;

  &:hover {
    background-color: #f00;
  }
}

.indonesia-case {
  background-color: $black;

  .card-title {
    margin-bottom: 0;
  }

  &:hover {
    background-color: #000;
  }
}

.new-data {
  display: inline-block;
  width: 46%;
  background-color: #8d8dff;
  border-radius: 20px;
  font-size: 14px;
  padding: 4px;
}

.global-data {
  font-size: 24px;
  text-shadow: 0 1px 2px $black;
}

@media screen and (max-width: 1024px) {
  .global-total-case,
  .global-total-recovered,
  .global-total-death,
  .indonesia-case {
    width: 44%;
  }
}
@media screen and (max-width: 600px) {
  .global-total-case,
  .global-total-recovered,
  .global-total-death,
  .indonesia-case {
    width: 85%;
  }
}