.indonesia {
  
  .card {
    padding: .5em;
  }
}

table, th, td {
  border-collapse: collapse;
  font-size: 1em;
  font-weight: 600
}

table {
  width: 100%;
  
  th {
    padding: .4em;
    background-color: $black;
    color: $white;
  }

  th:first-child {
    width: 8%;
  }

  .th-state {
    width: 45%;
  }

  .th-data {
    width: 17%;
  }

  .tr-odd {
    background-color: $odd;
  }
  .tr-even {
    background-color: $even;
  }

  td {
    padding: .4em;
  }
}


@media screen and (max-width: 400px) {
  th, td {
    font-size: .8em;
  }
}