.indonesia, .sub-region { 
  .table-wrapper {
    width: 100%;
  }

  .card {
    padding: .5em;
  }
}

table, th, td {
  border-collapse: collapse;
  font-size: 1em;
  font-weight: 600
}

table {
  width: 100%;
  
  th {
    padding: .4em;
    background-color: $black;
    color: $white;
  }

  .td-1 {
    width: 2%;
  }

  .td-2 {
    width: 38%;
  }

  .td-3 {
    width: 20%;
  }

  .tr-odd {
    background-color: $odd;
  }
  .tr-even {
    background-color: $even;
  }

  td {
    padding: .4em;
  }
}

@media screen and (max-width: 425px) {
  .indonesia, .sub-region {
    .table-wrapper {
      height: 440px;
      overflow: scroll;
    }
    
    thead {
      position: absolute;
      width: 88vw;
      margin-top: -25px;
    }

    table {
      margin-top: 25px;
    }
    .td-2 {
      width: 26%;
    }
    .td-3 {
      width: 24%;
    }
  }

  th, td {
    font-size: .8em;
  }
}